# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/stress_test.py

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
logs.json
